/* ########################### Paramètres generaux de la page ################################## */

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  color: #000000;
}

.color-star-on {
  color: #0065fc;
}

.color-star-off {
  color: #f2f2f2;
}

p,
a,
a:visited {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3,
h4,
span {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4,
p {
  font-size: 1em;
}
/* ########################### Header avec Navigation ############################################# */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

nav li {
  width: 12rem;
}

.register_style {
  color: #0065fc;
  font-weight: bold;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
}

nav li a {
  padding: 2rem;
}

nav li:hover a {
  color: #0065fc;
  border-top: solid 2px #0065fc;
}

/* ########################### Section Recherche avec Filtres #################################### */
#search_section {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
}

#search_section h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#search_section h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#lodging_area {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

i.fa-map-marker-alt {
  background-color: #f2f2f2;
  width: 3.4rem;
  height: 3rem;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  line-height: 3rem;
}

#searching_form {
  display: flex;
}

input {
  font-size: 1em;
  border: unset;
  padding-left: 1rem;
}

input::placeholder {
  color: black;
}

.search_location {
  font-weight: bold;
  height: 2.6rem;
  text-align: start;
  border: 2px solid #f2f2f2;
}

.search_input,
.search_button {
  border: unset;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #0065fc;
  width: 9rem;
  height: 3rem;
  font-weight: bold;
  color: white;
  margin-left: -0.75rem;
}

input.search_input:hover,
button.search_button:hover {
  cursor: pointer;
}

#search_filters {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 1rem;
}

#search_filters h3 {
  margin-left: 0;
  margin-right: 2rem;
  margin-top: 2rem;
}

#search_filters ul {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 1rem;
  list-style-type: none;
}

#search_filters i {
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: #0065fc;
  background-color: #cfddf0;
  border-radius: 50%;
  padding: 0.6rem;
  margin-right: 0.6rem;
  margin-left: -0.2rem;
  line-height: 2rem;
}

#search_filters li {
  margin-right: 1.56rem;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  padding-right: 1.2rem;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.6rem;
}

#search_filters li:hover {
  color: #0065fc;
  cursor: pointer;
}

#search_filters li:hover i {
  background-color: #0065fc;
  color: #cfddf0;
}

#search_result {
  display: flex;
  align-items: center;
}

i.fa-info {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
  line-height: 1.2rem;
}

/* ########################### Section Hébergements & Popularites ################################## */
#lodging_section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

#lodging_results {
  align-content: center;
  background-color: #f2f2f2;
  padding: 2rem 0;
  border-radius: 15px;
  margin-bottom: 1rem;
}

#lodging_results h2 {
  margin-left: 2rem;
}

#display_more {
  margin-top: 1rem;
  margin-left: 1rem;
}

#hotels_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hotel {
  width: 14.8rem;
  height: 11.5rem;
  background-color: white;
  border-radius: 15px;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 7px 7px 16px #f2f2f2;
}

.hotel_picture {
  width: 14.8rem;
  height: 7.2rem;
}

.hotel_picture img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hotel_caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;
  padding-left: 0.5rem;
}

#popular_lodging {
  width: auto;
  min-width: 22rem;
  background-color: #f2f2f2;
  padding: 2rem 0;
  border-radius: 15px;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

#popular_title {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-left: -1.56rem;
}

#popular_hotels_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.popular_hotel {
  display: flex;
  width: 20rem;
  height: 8.4rem;
  background-color: white;
  border-radius: 15px;
  padding: 0.3rem;
  margin-top: 1rem;
}

.popular_hotel_caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem 1rem 0 0.3rem;
  width: 60%;
  height: auto;
}

.popular_hotel_picture {
  width: 45%;
  height: auto;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

/* ########################### Section Activites ################################################### */
#activities_section {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
}

#activities_section h2 {
  margin-left: 0.6rem;
  margin-bottom: 1rem;
}

.activities_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single_activity_container {
  box-shadow: 7px 7px 16px #f2f2f2;
  border-radius: 15px;
  width: 18.75rem;
  height: 28rem;
  overflow: hidden;
  margin-right: 0.5rem;
}

.single_activity_picture {
  overflow: hidden;
  height: 24.3rem;
  width: 100%;
}

.single_activity_picture img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

.double_activity_container {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 28rem;
  gap: 2.5rem;
  margin-right: 0.5rem;
}

#double_activity_1,
#double_activity_2,
#double_activity_3,
#double_activity_4 {
  box-shadow: 7px 7px 16px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
}

#fortdepomegues {
  height: 12rem;
}

#ilesdufrioul {
  height: 6.85rem;
}

#notredamedelagarde {
  height: 9.75rem;
}

#parclongchamp {
  height: 9.11rem;
}

#fortdepomegues img,
#ilesdufrioul img,
#notredamedelagarde img,
#parclongchamp img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.activity_caption {
  margin: 1em 1em 1em 1.2em;
}

/* ########################### Footer ############################################################## */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin: 2rem 0;
}

footer div {
  display: flex;
  flex-direction: column;
  width: 33vw;
}

footer div h3 {
  margin-left: 3rem;
  margin-top: 2rem;
}

footer div ul {
  font-size: 1em;
  margin-top: 1.2rem;
  margin-left: 3rem;
  list-style-type: none;
}

footer li {
  margin-bottom: 0.6rem;
}

/* ######################################### Responsive : de 1590px à 3875px ######################## */
@media all and (min-width: 1590px) {

  #hotels_list {
    width: 70vw;
    column-gap: 8.5vw;
    row-gap: 1vh;
  }

  .hotel {
    height: auto;
    max-width: 30rem;
    width: 15vw;
    margin-bottom: 2rem;
  }

  .hotel_picture {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }

  #popular_hotels_list {
    width: 24vw;
    row-gap: 2vh;
  }

  .popular_hotel {
    width: 19vw;
    max-width: 38rem;
    height: auto;
  }

  .activities_list {
    gap: 10vw;
  }

  .single_activity_container {
    width: 100%;
    max-width: 30rem;
    height: auto;
    max-height: 28rem;
  }

  .double_activity_container {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }
}

/* ######################################### Responsive : Version Tablettes ######################## */
@media all and (max-width: 1030px) {
  #search_filters ul {
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 0;
  }

  /* repositionnement partie hébergements & populaires */

  #lodging_section {
    flex-direction: column-reverse;
    align-items: center;
  }

  #popular_title {
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  #popular_lodging {
    width: 100%;
    margin: 0 0 1rem 0;
    min-width: 12rem;
  }

  #popular_hotels_list {
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .popular_hotel {
    width: auto;
    max-width: 21rem;
    min-width: 12rem;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .popular_hotel_caption {
    margin-right: 0;
  }

  /* repositionnement partie activités sur 3 colonnes */

  #activities_section {
    margin: 3.4em 1.25em;
  }

  .activities_list {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  #activities_section h2 {
    margin-left: 2.5rem;
  }

  .single_activity_container {
    width: 30%;
    height: 11.85rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
  }

  .single_activity_picture {
    height: 8.43rem;
  }

  .double_activity_container {
    flex-direction: row;
    width: 60%;
    height: auto;
    gap: 0;
  }

  #double_activity_1,
  #double_activity_3 {
    margin-right: 1.25em;
    width: 100%;
    height: 11.85rem;
  }

  #double_activity_2,
  #double_activity_4 {
    width: 100%;
    height: 11.85rem;
  }

  #fortdepomegues,
  #ilesdufrioul,
  #notredamedelagarde,
  #parclongchamp {
    height: 8.43rem;
  }
}

/* ######################################### Responsive : Version Mobile ########################### */
@media all and (max-width: 760px) {
  header {
    align-items: flex-start;
    margin: 1.8rem 0 1.25rem 0;
  }

  #company_logo {
    position: absolute;
    padding-left: 1.25rem;
  }

  nav {
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-end;
  }

  nav ul {
    width: 100%;
  }

  nav li {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin: 1.65rem 0 0 0;
  }

  .register_style {
    padding: 1rem 2rem 1rem 0;
  }

  nav li:hover {
    border-bottom: 2px solid #0065fc;
  }

  nav li:hover a {
    border-top: unset;
    padding-bottom: 1.25rem;
  }

  /* Responsive Mobile: Redimensionner Recherche et Filtres */

  #search_section {
    margin: 0 1.25rem 1.5rem 1.25rem;
  }

  form input.search_input {
    display: none;
  }

  form button.search_button {
    width: 3.25rem;
    height: 3rem;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  form {
    text-align: center;
  }

  #search_filters h3 {
    margin-top: 1rem;
  }

  #search_filters li {
    margin-right: 0.31rem;
    padding-right: 0.5rem;
  }

  /* Responsive Mobile: Hebergements et Populaires */

  #lodging_section {
    margin: 0;
  }

  #lodging_results {
    width: 100%;
    background-color: unset;
    padding-top: 1rem;
  }

  #lodging_results h2 {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #hotels_list {
    flex-direction: column;
    align-content: center;
  }

  .hotel {
    width: 100%;
    max-width: 21rem;
    margin-right: 0;
    margin-left: 0;
  }

  .hotel_picture {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hotel_picture img {
    object-fit: cover;
    height: 7.2rem;
  }

  #popular_lodging {
    padding-bottom: 1rem;
    border-radius: 0;
  }

  #popular_hotels_list {
    flex-direction: column;
  }

  /* Responsive Mobile: Activités - passage sur 1 colonne */

  #activities_section {
    justify-content: center;
    margin: 1rem 0.5rem 2.4rem 0.5rem;
  }

  #activities_section h2 {
    padding: 0;
    margin-left: 0.2rem;
    margin-bottom: 0;
  }

  .activities_list {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .single_activity_container {
    width: 100%;
    max-width: 21rem;
    margin-top: 2rem;
    margin-right: 0;
  }

  .double_activity_container {
    flex-direction: column;
    max-width: 21rem;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    margin-right: 0;
    gap: 2.5rem;
  }

  #double_activity_1,
  #double_activity_3 {
    margin-right: 0;
  }

  /* Responsive Mobile : Footer */
  footer {
    margin: 0;
    align-content: flex-start;
  }

  footer div {
    min-width: 16.75rem;
  }

  footer div h3,
  footer div ul {
    margin-left: 2.5rem;
  }
}

/* ######################################### Responsive : Version > Mobile ########################### */
@media all and (min-width: 760px) {
  button {
    display: none; /* le bouton de recherche version mobile disparaît */
  }
}
